{% load static %}
<header class="header">
  <div class="container">
        <img src="/Emaus/Calendario/static/img/EspirituSanto2.jpg" class="rounded-image" alt="Imagen redondeada">
      <h1 class="site-title">Retiros de Emaus</h1>
      <button class="nav-toggle" aria-label="Toggle navigation">
        <span class="nav-toggle-icon"></span>
      </button>  
      <nav class="nav">
          <ul class="nav-links">
              <li><a href="{% url 'home' %}">Inicio</a></li>
              <li><a href="{% url 'about' %}">¿Qué es Emaus?</a></li>
              <li><a href="#">Panel Coordinación</a></li>
          </ul>
      </nav>
  </div>
</header>