{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="about-us">
    <div class="img-about">
        <img src="/Emaus/Calendario/static/img/rostro2.jpg">
    </div>   
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Qué es el retiro de Emaús?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>El retiro de Emaús es un retiro espiritual creado por Myrna Gallagher en el año 1978, mientras servía en la parroquia de San Luis, en el área de Pinecrest, Miami. El padre de dicha parroquia le pidió hacer un retiro. Este retiro es de laicos para laicos, que te invita a reconocer el actuar de Cristo en tu vida. Muchas familias han encontrado en este retiro un inicio de una nueva vida. Por otro lado, a raíz de este retiro surgieron otras versiones para niños, adolescentes y adultos jovenes.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ¿Para quién está pensado el retiro?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Para todos, no importa que no seas Católico, es una experiencia que se vive una única vez. Posteriormente podrás hacerlo como servidor, pero la experiencia de caminar en Emaús se vive solo una vez.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ¿Cómo me inscribo?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Accediendo al formulario de inscripción del retiro al que quieras participar, en esta página están publicados 6 tipos de retiros:</p>
                <ul>
                    <li>Hombres (Hombres mayores de 20 años en adelante)</li>
                    <li>Mujeres (Mujeres mayores de 20 años en adelante)</li>
                    <li>Parejas (Parejas que hayan asistido previamente a un retiro de Emaús Hombres y Mujeres según corresponda)</li>
                    <li>Effeta (Jóvenes de edades entre los 18 años hasta los 23 años)</li>
                    <li>Revolución Juvenil (Jóvenes de edades entre los 15 años a los 20 años)</li>
                    <li>Semillitas (Niños y Niñas de edades entre los 7 años hasta los 14 años)</li>
                </ul>
                <p><strong>Nota:</strong> El rango de edades puede cambiar de acuerdo a la parroquia que realice el retiro.</p>    
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                ¿En qué se basa este Retiro?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Estos retiros están basados en la lectura del Evangelio según San Lucas 24, 13-35 que trata sobre lo que ocurre a los discípulos en el camino a Emaús, de ahí el nombre de los retiros.</p>  
              </div>
            </div>
          </div>
      </div>
</section>
{% endblock %}