{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
 <div class= "card">

  <div class= "poster">
    <img src="/Emaus/Calendario/static/img/posters/retiroSan.jpg" alt="Descripción de la imagen">
  </div>

  <div class= "info">

    <div class= "title">
        <h3>Parroquia San Silvestre</h3>    
    </div>

    <div class= "details">
      <ul>
        <li>6, 7 y 8 de Junio</li>
        <li>Hombres</li>
        <li>$450.000</li>
    </ul>
    </div>

  </div>
 </div>

</section>

{% endblock %}