{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="search-background">
    <div class="search-container">
        <h2>Encuentra tu Retiro de Emaus</h2>
        <form class="search-form" method="get">
            {{ form.tipo_retiro.label_tag }}  <!-- Etiqueta del campo -->
            {{ form.tipo_retiro }}  <!-- Campo de selección de tipo de retiro -->

            {{ form.ciudad.label_tag }}  <!-- Etiqueta del campo -->
            {{ form.ciudad }}  <!-- Campo de selección de ciudad -->

            <h3>Periodo de búsqueda</h3>  <!-- Texto personalizado antes de las fechas -->

            {{ form.fecha_inicio.label_tag }}  <!-- Etiqueta del campo -->
            {{ form.fecha_inicio }}  <!-- Campo de fecha de inicio -->

            {{ form.fecha_final.label_tag }}  <!-- Etiqueta del campo -->
            {{ form.fecha_final }}  <!-- Campo de fecha final -->

            <div class="form-group">
                <button type="submit" class="btn">Buscar</button>
            </div>
        </form>
    </div>
</section>

<section>
    <div class="card-container">
        {% if hay_resultados %}
            {% for grupo in grupos %}
            <div class="card">
                <div class="poster">
                    <img src="{{ grupo.poster.url }}" alt="Poster de {{ grupo.nombre }}">
                </div>
                <div class="info">
                    <div class="title">
                        <h3>Parroquia {{ grupo.parroquia.nombre }}</h3>
                    </div>
                    <div class="details">
                        <ul>
                            <li>{{ grupo.fecha_inicio|date:"j" }} al {{ grupo.fecha_fin|date:"j" }} de {{ grupo.fecha_fin|date:"F" }}</li>
                            <li>{{ grupo.nombre }}</li>
                            <li>${{ grupo.valor_retiro|floatformat:0 }}</li>
                            <li><a href="{{ grupo.formulario_inscripcion }}" class="btn">Inscríbete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No se encontraron retiros disponibles con los criterios de búsqueda proporcionados.</p>
        {% endif %}
    </div>
</section>

{% endblock %}