/*header.html*/
/* Estilo general */
body {
  background-color: #f0f0f0; /* Color de fondo claro y neutral */
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Fuente moderna y legible */
}

.rounded-image {
border-radius: 50%; /* Esto hace que la imagen tenga forma de círculo */
overflow: hidden; /* Asegura que la imagen no sobresalga del borde redondeado */
width: 150px; /* Ancho de la imagen */
height: 150px; /* Altura de la imagen */
}

/* Estilos para el encabezado */
.header {
  background-color: #a2d5f2; /* Azul cielo claro para el encabezado */
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Contenedor para centrar el contenido */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 0 20px; /* Espaciado interno */
}

/* Estilo para el título del sitio */
.site-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: #000080; /* Azul Marino para complementar el azul claro */
  margin: 0;
  font-weight: 700;
}

/* Estilos para la navegación */
.nav {
  display: flex;
  align-items: center;
}

.nav-toggle {
  display: none; /* Oculto por defecto */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-toggle:hover {
  background-color: #dcdfe1; /* Cambia el color al pasar el ratón */
}

.nav-toggle-icon,
.nav-toggle-icon::before,
.nav-toggle-icon::after {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000080; /* Azul Marino */
  transition: transform 0.3s ease;
}

.nav-toggle-icon::before,
.nav-toggle-icon::after {
  position: absolute;
  width: 20px;
}

.nav-toggle-icon::before {
  transform: translateY(-7px);
}

.nav-toggle-icon::after {
  transform: translateY(7px);
}

/* Estilos para los enlaces de la navegación */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px; /* Espacio entre los elementos de la lista */
}

.nav-links li a {
  color: #000080; /* Azul Marino */
  background-color: #f0f0f0; /* Gris Claro */
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.nav-links li a:hover {
  background-color: #dcdfe1; /* Color gris más oscuro para el hover */
  color: #000080; /* Mantiene el color del texto en azul marino */
}

/* Media queries para dispositivos móviles */
@media (max-width: 1155px) {
  .container {
      flex-direction: column;
      align-items: flex-start;
  }

  .nav-toggle {
      display: flex; /* Mostrar el botón de hamburguesa */
  }

  .nav {
      display: none; /* Ocultar la navegación por defecto */
      width: 100%;
  }

  .nav-links {
      flex-direction: column;
      width: 100%;
  }

  .nav-links li {
      width: 100%;
  }

  .nav-links li a {
      display: block;
      width: 100%;
      text-align: center;
      padding: 15px;
      border-bottom: 1px solid #dcdfe1;
  }
}
.nav.nav-visible {
  display: flex; /* Mostrar la navegación cuando tenga la clase nav-visible */
}

/*-----------------------------------------------------Index.html------------------------------------------------*/

/*------------------Search-container---------------*/
.search-background {
  background-color: #f5f5f5; /* Color de fondo de la sección */
  padding: 40px 20px; /* Espaciado interno mayor */
  text-align: center; /* Centra el contenido */
}

.search-container {
  max-width: 1000px; /* Anchura máxima del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  background-color: #fff; /* Fondo blanco para el contenedor */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.search-container h2 {
  margin-bottom: 20px; /* Espaciado inferior */
  font-size: 28px; /* Tamaño del texto del título */
  color: #333; /* Color del texto del título */
}

.search-form {
  display: flex;
  flex-direction: row; /* Los elementos internos se colocan en la misma dirección */
  gap: 15px; /* Espaciado entre los elementos */
}

.form-group {
  display: flex;
  flex-direction: column; /* Los elementos internos se colocan en columna */
}

.form-group label {
  margin-bottom: 5px; /* Espaciado inferior */
  font-size: 10px; /* Tamaño del texto del label */
  color: #666; /* Color del texto del label */
}

.form-group select, .form-group input {
  padding: 12px; /* Espaciado interno */
  font-size: 16px; /* Tamaño del texto */
  border: 1px solid #ddd; /* Borde */
  border-radius: 4px; /* Bordes redondeados */
  box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el tamaño especificado */
}

h3 {
  font-size: 5px; /* Tamaño del texto */
  color: #333; /* Color del texto */
  margin-top: 20px; /* Espaciado superior */
  text-align: center; /* Alineación a la izquierda */
}
.between-search{
  display: flex;
  flex-direction: row;
}
.btn {
  padding: 12px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño del texto */
  color: #fff; /* Color del texto */
  background-color: #258efd; /* Color de fondo */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

.btn:hover {
  background-color: #a0caf7; /* Color de fondo al pasar sobre el botón */
}

@media (max-width: 600px) {
  .search-container {
    padding: 15px; /* Reduce el espaciado interno en móviles */
  }

  .search-container h2 {
    font-size: 24px; /* Tamaño del texto más pequeño en móviles */
  }

  .search-form {
    gap: 15px; /* Menos espacio entre elementos en móviles */
  }

  .form-group select, .form-group input {
    padding: 10px; /* Menos espaciado interno en móviles */
    font-size: 14px; /* Tamaño del texto más pequeño en móviles */
  }

  .btn {
    padding: 10px 15px; /* Menos espaciado interno del botón en móviles */
    font-size: 14px; /* Tamaño del texto más pequeño en móviles */
  }
}


/*------------------End-Search-container-----------*/
/*--------------------card-container---------------*/
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); /* Cada columna tiene un ancho mínimo de 300px */
  gap: 8px; /* Espacio entre las tarjetas */
  padding: 10px;
  margin: auto;
  max-width: 1200px; /* Ajusta según tu diseño */
  box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el tamaño especificado */
}

/* Estilos para las tarjetas individuales */
.card {
  width: 270px; /* Ancho fijo */
  height: 350px; /* Altura fija */
  border: 1px solid #ddd; /* Borde */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  overflow: hidden; /* Ocultar desbordamientos */
  background-color: #fff; /* Fondo blanco */
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Incluye el padding y borde dentro de las dimensiones especificadas */
  margin: auto;
}

/* Estilos para la imagen */
.card .poster img {
  width: 100%;
  height: 200px; /* Altura fija para la imagen */
  object-fit: fill; /* Mantiene la proporción y recorta la imagen para ajustarse al contenedor */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Estilos para la información */
.card .info {
  padding: 10px; /* Espacio interno */
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  flex-grow: 1; /* Permite que el contenido se expanda */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye el contenido verticalmente */
  box-sizing: border-box; /* Asegura que el padding esté incluido */
}

/* Estilos para el título */
.card .info .title h3 {
  margin: 0;
  font-size: 16px; /* Tamaño del texto */
  color: #333;
  word-break: break-word; /* Permite el quiebre de palabra para evitar desbordamiento */
}

/* Estilos para los detalles */
.card .info .details ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.card .info .details li {
  margin: 4px 0;
  font-size: 12px; /* Tamaño del texto */
  color: #555;
  white-space: nowrap; /* Evita que el texto se envuelva */
  overflow: hidden; /* Oculta el texto desbordante */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto que desborda */
}

/* Estilos para el botón */
.btn {
  display: inline-block;
  padding: 8px 15px; /* Tamaño del botón */
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  background-color: #0056b3;
}

/*-------------End-Card-Container---------------*/
/*----------------------------------------------------- End-Index.html------------------------------------------------*/
/*-----------------------------------------------------about.html------------------------------------------------*/
.about-us{
  display: flex;
  align-items: center;
  
}
/*-----------------------------------------------------End-about.html------------------------------------------------*/
/*-----------------------------------------------------login.html------------------------------------------------*/
.cont-log{
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.login-container button:hover {
  background-color: #0056b3;
}
.login-container a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}
.login-container a:hover {
  text-decoration: underline;
}
